aws
tags
fzf
gnupg
histdb
ncmpcpp
neovim
ranger
ssh
task
vim
zsh
config/1Password
config/a
config/aerc
config/akonadi
config/akonadi_akonotes_resource_0rc
config/akonadiconsolerc
config/akonadi_contactrc
config/akonadi_contacts_resource_0rc
config/akonadi-firstrunrc
config/akonadi_imap_resource_0rc
config/akonadi_imap_resource_1rc
config/akonadi_imap_resource_3rc
config/akonadi_imap_resource_6rc
config/akonadi_indexing_agentrc
config/akonadi_maildir_resource_0rc
config/akonadi-migrationrc
config/akonadi_unifiedmailbox_agentrc
config/akregatorrc
config/alacritty
config/amass
config/Android Open Source Project
config/ardour7
config/ardour-vst2
config/ardour-vst3
config/arkrc
config/asciinema
config/audacity
config/auroraerc
config/autostart
config/balena-etcher
config/balena-etcher-electron
config/baloofileinformationrc
config/baloofilerc
config/barista
config/bb
config/binwalk
config/Blackmagic Design
config/blender
config/bloodhound
config/bluedevilglobalrc
config/bluejeans-v2
config/Boostnote
config/bpytop
config/BraveSoftware
config/breezerc
config/bspwm
config/btop
config/calibre
config/calligrarc
config/calligrasheetsrc
config/calligrastagerc
config/calligrawordsrc
config/Caret
config/cawbird
config/cef_user_data
config/cheat
config/chromium
config/cmst
config/cmus
config/coc
config/codef00.com
config/Code - Insiders
config/Code - OSS
config/codewars
config/composer
config/com.psiexams.psi-bridge-secure-browser
config/com.yuezk.qt
config/config
config/configstore
config/copyq
config/dconf
config/Debauchee
config/Deskreen
config/devdocs-desktop
config/discord
config/discoverrc
config/discoverupdaterc
config/doc-browser
config/dolphinrc
config/dragonplayerrc
config/drkonqirc
config/Electron
config/elinks
config/elisarc
config/emaildefaults
config/emailidentities
config/enchant
config/eventviewsrc
config/evernote-client
config/exercism
config/expressvpn
config/ffuf
config/filetypesrc
config/filezilla
config/flameshot
config/flameshotrc
config/foldermailarchiverc
config/fontconfig
config/fontforge
config/Foxit Software
config/fragments
config/Franz
config/freerdp
config/gcloud
config/gconf
config/geany
config/gh
config/GIMP
config/github-copilot
config/glow
config/gmic
config/go
config/goa-1.0
config/Google
config/google-chrome
config/google-chrome-beta
config/google-chrome-unstable
config/gphotos-sync
config/gpick
config/green-recorder
config/GREYC
config/gtk-2.0
config/gtk-3.0
config/gtk-4.0
config/gtkrc
config/gtkrc-2.0
config/guake
config/guvcview2
config/gwenviewrc
config/hardhat-nodejs
config/Harvest Timer Qt
config/havoc
config/headerthemeeditorrc
config/helm
config/histdb
config/htop
config/i3
config/i3.config
config/ibus
config/icedtea-web
config/imagewriterrc
config/importwizardrc
config/inkdrop
config/inkscape
config/Insync
config/jesseduffield
config/JetBrains
config/joplin-desktop
config/jukrc
config/k3brc
config/k9s
config/kaccessrc
config/kactivitymanagerd-pluginsrc
config/kactivitymanagerdrc
config/kactivitymanagerd-statsrc
config/kactivitymanagerd-switcher
config/kalarmrc
config/kalendaracrc
config/karboncalligraphyrc
config/kate
config/katemetainfos
config/katerc
config/kateschemarc
config/katesyntaxhighlightingrc
config/katevirc
config/kazam
config/kcalcrc
config/kcmfonts
config/kcminputrc
config/kcmshell5rc
config/kconf_updaterc
config/KDE
config/kdeconnect
config/kded5rc
config/kdedefaults
config/kdeglobals
config/kdenlive-layoutsrc
config/kdenliverc
config/kde.org
config/kdfrc
config/kdialogrc
config/KeePass
config/kfontinstuirc
config/kgammarc
config/kglobalshortcutsrc
config/kgoldrunnerrc
config/kgpgrc
config/khelpcenterrc
config/khotkeysrc
config/khtml
config/killbotsrc
config/kinfocenterrc
config/kiorc
config/kitty
config/kmail2rc
config/kmailsearchindexingrc
config/kmenueditrc
config/kmixctrlrc
config/kmixrc
config/kmousetoolrc
config/kmousetool_strokes.txt
config/kmplotrc
config/knfsshare
config/kokorc
config/kolourpaintrc
config/komparerc
config/konq_history
config/konquerorrc
config/konsolerc
config/konsolesshconfig
config/konversationrc
config/korgacrc
config/korganizerrc
config/kritadisplayrc
config/kritarc
config/krunnerrc
config/kscreenlockerrc
config/kservicemenurc
config/ksmserverrc
config/ksplashrc
config/ksslcertificatemanager
config/ksudokurc
config/ksysguardrc
config/ktimezonedrc
config/kwalletmanager5rc
config/kwalletrc
config/kwaverc
config/kwin_dialogsrc
config/kwinrc
config/kwin_rules_dialogrc
config/kwinrulesrc
config/kwriterc
config/kxkbrc
config/layer0-nodejs
config/libaccounts-glib
config/LibreCAD
config/libreoffice
config/light
config/lightum
config/lookandfeelexplorerrc
config/lskatrc
config/lxsession
config/Mailspring
config/mailtransports
config/mako
config/marblerc
config/marktext
config/matplotlib
config/Meltytech
config/menus
config/Microsoft
config/microsoft-edge-beta
config/microsoft-edge-dev
config/Microsoft Teams - Preview
config/mimeapps.list
config/mopidy
config/mpd
config/mps-youtube
config/mpv
config/mypaint
config/ncmpcpp
config/neofetch
config/neovim-lua.backup
config/netcitadel.com
config/newsboat
config/nextjs-nodejs
config/ngrok
config/nitrogen
config/nnn
config/nomacs
config/Notepadqq
config/NvChad
config/obsidian
config/obs-studio
config/okularpartrc
config/okularrc
config/oni
config/op
config/openai
config/openaiprompt
config/openrazer
config/openshotrc
config/p3x-onenote
config/parleyrc
config/paru
config/pavucontrol.ini
config/Perimeter81
config/phishingurlrc
config/pipewire-media-session
config/pirate-get
config/PlasmaDiscoverUpdates
config/plasma.emojierrc
config/plasma-localerc
config/plasma-nm
config/plasmanotifyrc
config/plasma-org.kde.plasma.desktop-appletsrc
config/plasmarc
config/plasmashellrc
config/PlasmaUserFeedback
config/plasma-welcomerc
config/plasma-workspace
config/Postman
config/powerdevilrc
config/powermanagementprofilesrc
config/procps
config/Prospect Mail
config/proxify
config/PSI Bridge Secure Browser
config/psysh
config/pulse
config/QtProject.conf
config/QuiteRss
config/qutebrowser
config/ranger
config/razercommander
config/rclone
config/rclone-browser
config/redshift.conf
config/remmina
config/ringcentral.conf
config/rocsrc
config/rome
config/rosegardenmusic
config/Rosegardenrc
config/sddmthemeinstallerrc
config/session
config/shell_gpt
config/Shotcutrc
config/sieveeditorrc
config/skypeforlinux
config/Slack
config/soffice.binrc
config/specialmailcollectionsrc
config/spectaclerc
config/spotify
config/spotify-tui
config/sqlitebrowser
config/srain
config/subfinder
config/sway
config/Synergy
config/Synergyrc
config/synfig
config/systemd
config/systemmonitorrc
config/systemsettingsrc
config/taskell
config/teams
config/teamviewer
config/teiler
config/TelegramDesktoprc
config/templatesconfigurationrc
config/terminology
config/termite
config/termshark
config/thumbnail.sorc
config/Thunar
config/ticktick
config/timer-for-harvest.json
config/tmp
config/tmuxinator
config/touchpadrc
config/touchpadxlibinputrc
config/transmission
config/trashrc
config/trizen
config/Trolltech.conf
config/tumbler
config/twmn
config/Typora
config/Unknown Organization
config/Upwork
config/user-dirs.dirs
config/user-dirs.locale
config/VirtualBox
config/VirtualBoxrc
config/VirtualBoxVMrc
config/vivaldi
config/vivaldi-snapshot
config/vlc
config/vokoscreenNG
config/vue
config/waybar
config/wayfire
config/Webcamoid
config/webengineurlinterceptoradblockrc
config/weylus
config/wezterm
config/wf-shell
config/wfuzz
config/whatsapp-for-linux
config/wireshark
config/wyebadblock
config/X11
config/xdg-desktop-portal-kderc
config/xfce4
config/XMind
config/xonsh
config/xsettingsd
config/yarn
config/yay
config/Zeal
config/Zealrc
config/zoom.conf
config/zoomus.conf
config/zplug
config/pypoetry

### Clean
lazy-lock.json
